body,html { height: 100%; }
.site-wrapper { display: table; height: 100%; width: 100%; min-height: 100%; background-color: #000; }
.main-content { display: table-cell; vertical-align: middle; height: 100%; width: 100%; }